// Color Palette
$primary-color: #9250F2;
$primary-hover: #5612BD;
$secondary-color: #FF87AB;
$secondary-hover: #FFD4D1;
$background-color: #F2F8FC;
$text-color: #2E1360;
$dark: #2E1360;
$grey: #95a5a6;
$light: #fff;
$light_hover: #fff;

